<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AccountName" value=""/>
    <add key="AccountKey" value=""/>
    <add key="ContainerName" value="personal"/>
    <add key="SubscriberId" value="walaoehh"/>
    <add key="LocalStoragePath" value="D:\AzureStorage"/>
  </appSettings>
</configuration>